#homewall{
    width: 100%;
    height: auto;
    
}

.modal-header{
    background-color: #353A49;
    color: #fff;
    text-align: center;
}

ul li{
    list-style-type: none;

}

.close{
      color: #fff; 
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/master
