<div class="row" data-ng-controller="getP">
<div class="col-xs-12 col-sm-12 col-lg-12">

<!--get product data from database-->
<div class="col-xs-12 col-sm-12 col-lg-12">
  <div class="table-responsive">
        <table class="table table-stripped table-hover">
            <caption>Product details</caption>
            <thead>
                <tr>
                    <th id="pid" scope="col">Product Id &nbsp;</th>
                    <th id="pname" scope="col">Product Name</th>
                    <th id="pdesc" scope="col">Product Desciption</th>
                    <th id="pprice" scope="col">Purchase Price <span class="glyphicon glyphicon-euro"></span></th>
                    <th id="pedit" scope="col">Edit</th>
                    <th id="pdelete" scope="col">Delete</th>
                </tr>
            </thead>                      
            <tbody>
                <tr data-ng-repeat="post in posts | pagination: currentPage* rowperpage | limitTo: rowperpage">
                    <td headers="pid">{{post.prod_id}}</td>
                    <td headers="pname">{{post.prod_name}}</td>
                    <td headers="pdesc">{{post.prod_desc}}</td>
                    <td headers="pprice">{{post.purchase_price | number: 2}}</td>
                    <td headers="pedit"><button class="btn btn-info btn-md glyphicon glyphicon-edit" type="button" data-target="#edit" data-toggle="modal"></button>
                      
    <!-- request form-->
    <div class="modal" id="edit" role="dialog" data-ng-controller="putProduct">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close requestclose" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Edit for ID: {{post.prod_id}}</h3><br/>
    </div>    
        
    <div class="modal-body">
        <form name="form" novalidate method="post">
        <fieldset>
            <!-- name -->
            <div class="form-group" data-ng-class="{ 'has-error' : form.prod_name.$invalid && !form.prod_name.$pristine }">
                    <input type="text" name="prod_name" class="form-control" data-ng-model="prod_name" placeholder="Product Name" required>
                    <span data-ng-show="form.prod_name.$error.required">Product name is required.</span>
            </div>
                                                        
            <!-- desc -->
            <div class="form-group" data-ng-class="{ 'has-error' : form.prod_desc.$invalid && !form.prod_desc.$pristine }">
                <input type="text" name="prod_desc" class="form-control" data-ng-model="prod_desc" placeholder="Product description" required>
                <span data-ng-show="form.prod_desc.$error.required">Product description is required.</span>
            </div>
                                            
            <!-- quantity -->
            <div class="form-group" data-ng-class="{ 'has-error' : form.purchase_price.$invalid && !form.purchase_price.$pristine }" >
                <input type="number" name="purchase_price" class="form-control" data-ng-model="purchase_price" placeholder="Purchase price" required />
                <span data-ng-show="form.purchase_price.$error.required">Purchase price is required</span>
            </div>
                                                                 
            <button type="button" class="btn btn-default" data-ng-disabled="form.$invalid" data-ng-click="putData(prod_name, prod_desc, purchase_price)">Done</button>
            
            <p>Output Message : {{msg}}</p>
        </fieldset>
        </form>
    </div>
    </div>
    </div>
    </div>                   
                    </td>
                    <td headers="pdelete" data-ng-controller="delProduct">

                    <form action="" method="post">
                        <button type="button" class="btn btn-info btn-md glyphicon glyphicon-trash" data-ng-click="delData(post)"></button>                   
                    </form>
                    </td>
                </tr>
            </tbody> 
            <tfoot>
                <tr>
                    <td colspan="6">
                        <ul class="pagination"> 
                            <li data-ng-class="{disabled: currentPage == 0}">
                                <a data-ng-click="prevPage()">Prev</a>
                            </li>
                            <li>
                                <span>Page {{currentPage+1}} of {{pageCount()+1}} </span>
                            </li>
                            <li data-ng-class="{disabled: currentPage == pageCount()}">
                                <a data-ng-click="nextPage()">Next</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                             
            </tfoot>
        </table>      
    </div>     

    
</div>
        
<div class="col-xs-12 col-sm-12 col-lg-12">
    <button type="button" class="btn btn-info btn-md glyphicon glyphicon-plus" data-toggle="modal" data-target="#add"> Add</button>
     
    <!-- request form-->
    <div class="modal" id="add" role="dialog" data-ng-controller="postProduct">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close requestclose" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">New Product</h3><br/>
    </div>    
        
    <div class="modal-body">
        <form name="form" novalidate method="post">
        <fieldset>
            <!-- name -->
            <div class="form-group" data-ng-class="{ 'has-error' : form.prod_name.$invalid && !form.prod_name.$pristine }">
                    <input type="text" name="prod_name" class="form-control" data-ng-model="prod_name" placeholder="Product Name" required>
                    <span data-ng-show="form.prod_name.$error.required">Product name is required.</span>
            </div>
                                                        
            <!-- desc -->
            <div class="form-group" data-ng-class="{ 'has-error' : form.prod_desc.$invalid && !form.prod_desc.$pristine }">
                <input type="text" name="prod_desc" class="form-control" data-ng-model="prod_desc" placeholder="Product description" required>
                <span data-ng-show="form.prod_desc.$error.required">Product description is required.</span>
            </div>
                                            
            <!-- quantity -->
            <div class="form-group" data-ng-class="{ 'has-error' : form.purchase_price.$invalid && !form.purchase_price.$pristine }" >
                <input type="number" name="purchase_price" class="form-control" data-ng-model="purchase_price" placeholder="Purchase price" required />
                <span data-ng-show="form.purchase_price.$error.required">Purchase price is required</span>
            </div>
                                                                 
            <button type="button" class="btn btn-default" data-ng-disabled="form.$invalid" data-ng-click="postData(prod_name, prod_desc, purchase_price)">Done</button>
            
            <p>Output Message : {{msg}}</p>
        </fieldset>
        </form>
    </div>
    </div>
    </div>
    </div>     
</div>
</div>
</div>



