<div class="row" data-ng-controller="getSales">
<div class="col-xs-12 col-sm-12 col-lg-12">


<div class="col-xs-12 col-sm-12 col-lg-12">
<div class="table-responsive">
<table class="table table-stripped table-hover">
<caption>Sales details</caption>
    <thead>
        <tr>
            <th id="id1" scope="col">Sales Id</th>
            <th id="pid" scope="col">Product Id</th>
            <th id="pname" scope="col">Product Name</th>
            <th id="qut" scope="col">Quantity</th>
            <th id="memid" scope="col">Member Id</th>
            <th id="oprice" scope="col">Overall Price <span class="glyphicon glyphicon-euro"></span></th>
            <th id="sdate" sscope="col">Date</th>
            <th id="sedit" scope="col">Edit</th>
            <th id="sdelete" scope="col">Delete</th>
        </tr>
    </thead> 
    <tbody>
        <tr data-ng-repeat="post in posts | pagination: currentPage* rowperpage | limitTo: rowperpage">
            <td headers="id1">{{post.sales_id}}</td>
            <td headers="pid">{{post.prod_id}}</td>
            <td headers="pname">{{post.prod_name}}</td>
            <td headers="qut">{{post.sales_quantity}}</td>
            <td headers="memid">{{post.member_id}}</td>
            <td headers="oprice">$ {{post.sales_price | number: 2}}</td>
            <td headers="sdate">{{post.sales_date}}</td>
            <td headers="sedit">
            <button class="btn btn-info btn-md glyphicon glyphicon-edit" type="button" data-target="#edit{{$index}}" data-toggle="modal"></button>

    <!-- request form-->
    <div class="modal" id="edit{{$index}}" role="dialog" data-ng-controller="editSales">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close requestclose" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Edit for ID: {{post.sales_id}}</h3><br/>
    </div>    
        
    <div class="modal-body">
        <form name="form" novalidate method="post">
        <fieldset>
            
            <div class="form-group">
                    <input type="text" name="prod_name" class="form-control" data-ng-model="prod_name" placeholder="Product Name" required>
            </div>
                                                        
            <div class="form-group">
                <input type="number" name="sales_quantity" class="form-control" data-ng-model="sales_quantity" placeholder="sales_quantity" required />
            </div>

            <div class="form-group">
                <input type="number" name="member_id" class="form-control" data-ng-model="member_id" placeholder="member_id" required />
            </div>

            <div class="form-group">
                <span name="sales_price" class="form-control" data-ng-model="sales_price" placeholder="sales_price" >Overall Price : </span>
            </div>
                                                                 
            <button type="button" class="btn btn-default" data-ng-click="editData(post.sales_id, prod_name, sales_quantity, member_id)">Done</button>
            
            <p>Output Message : {{msg}}</p>
        </fieldset>
        </form>
    </div>
    </div>

    </div>
    </div> 

            </td>    
                    <td headers="sdelete" data-ng-controller="delSales">
                        <button type="button" class="btn btn-info btn-md glyphicon glyphicon-trash" 
                        data-ng-click="delSalesData(post.sales_id)"></button>                   
                    </td>
                </tr>
            </tbody> 
            <tfoot>   
                <tr>
                    <td colspan="9">
                        <ul class="pagination"> 
                            <li data-ng-class="{disabled: currentPage == 0}">
                                <a data-ng-click="prevPage()">Prev</a>
                            </li>
                            <li>
                                <span>Page {{currentPage+1}} of {{pageCount()+1}} </span>
                            </li>
                            <li data-ng-class="{disabled: currentPage == pageCount()}">
                                <a data-ng-click="nextPage()">Next</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                             
            </tfoot>
        </table>      
    </div>     

    
</div>



<div class="col-xs-12 col-sm-12 col-lg-12">
    <button type="button" class="btn btn-info btn-md glyphicon glyphicon-plus" data-toggle="modal" data-target="#add"> Add</button>
     
    <!-- request form-->
    <div class="modal" id="add" role="dialog" data-ng-controller="newSales">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close requestclose" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">New Sales</h3><br/>
    </div>    
        
    <div class="modal-body">
        <form name="form" novalidate method="post">
        <fieldset>
            <!-- name -->
            <div class="form-group" data-ng-class="{ 'has-error' : form.prod_name.$invalid && !form.prod_name.$pristine }">
                    <input type="text" name="prod_name" class="form-control" data-ng-model="prod_name" placeholder="Product Name" required>
                    <span data-ng-show="form.prod_name.$error.required">Product name is required.</span>
            </div>
                                                        
            <div class="form-group" data-ng-class="{ 'has-error' : form.sales_quantity.$invalid && !form.sales_quantity.$pristine }">
                <input type="number" name="sales_quantity" class="form-control" data-ng-model="sales_quantity" placeholder="sales_quantity" required />
                <span data-ng-show="form.sales_quantity.$error.required">Sales Quantity is required.</span>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error' : form.member_id.$invalid && !form.member_id.$pristine }">
                <input type="number" name="member_id" class="form-control" data-ng-model="member_id" placeholder="member_id"/>
                <span data-ng-show="form.member_id.$error.required">Member id is required.</span>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error' : form.sales_price.$invalid && !form.sales_price.$pristine }">
                <span name="sales_price" class="form-control" data-ng-model="sales_price" placeholder="sales_price" >Overall Price : </span>
            </div>
                                                                 
            <button type="button" class="btn btn-default" data-ng-disabled="form.$invalid" data-ng-click="postData(prod_name, sales_quantity, member_id, sales_price)">Done</button>

            <p>Output Message : {{msg}}</p>
        </fieldset>
        </form>
    </div>


    </div>
    </div>
    </div>     
</div>






</div>
</div>
