<div class="row" >
<div class="col-xs-12 col-sm-12 col-lg-12">


<div class="col-xs-12 col-sm-12 col-lg-12">
<div class="table-responsive">
<table class="table table-stripped table-hover">
<caption>Sales details</caption>
	<thead>
		<tr>
			<th id="id1" scope="col">Id&nbsp;</th>
			<th id="pid" scope="col">Product Id</th>
			<th id="pname" scope="col">Product Name</th>
			<th id="qut" scope="col">Quantity</th>
			<th id="mem" scope="col">Member</th>
			<th id="memid" scope="col">Member Id</th>
			<th id="oprice" scope="col">Overall Price <span class="glyphicon glyphicon-euro"></span></th>
			<th id="sedit" scope="col">Edit</th>
			<th id="pdelete" scope="col">Delete</th>
		</tr>
	</thead> 
	<tbody>
		<tr data-ng-repeat="post in posts | pagination: currentPage* rowperpage | limitTo: rowperpage">
			<td headers="id1"></td>
			<td headers="pid"></td>
			<td headers="pname"></td>
			<td headers="qut"></td>
			<td headers="mem"></td>
			<td headers="memid"></td>
			<td headers="oprice"></td>
			<td headers="sedit"><button class="btn btn-info btn-md glyphicon glyphicon-edit" type="button" data-target="#edit" data-toggle="modal"></button>
 <!--edit and delete button not yet done -->            
<div class="modal" id="edit" role="dialog" >
<div class="modal-dialog">

<div class="modal-content">
<div class="modal-header">
<button type="button" class="close requestclose" data-dismiss="modal">&times;</button>
<h3 class="modal-title">Edit for ID: {{post.prod_id}}</h3><br/>
</div> 
		
	
	</div>
    </div>
    </div> 
			</td>    
                    <td headers="pdelete" >

                    <form action="" method="post">
                        <button type="button" class="btn btn-info btn-md glyphicon glyphicon-trash" ></button>                   
                    </form>
                    </td>
                </tr>
            </tbody> 
            <tfoot>   
                <tr>
                    <td colspan="6">
                        <ul class="pagination"> 
                            <li data-ng-class="{disabled: currentPage == 0}">
                                <a data-ng-click="prevPage()">Prev</a>
                            </li>
                            <li>
                                <span>Page {{currentPage+1}} of {{pageCount()+1}} </span>
                            </li>
                            <li data-ng-class="{disabled: currentPage == pageCount()}">
                                <a data-ng-click="nextPage()">Next</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                             
            </tfoot>
        </table>      
    </div>     

    
</div>
   <!--Add sales not yet done-->     
	<div class="col-xs-12 col-sm-12 col-lg-12">
    <button type="button" class="btn btn-info btn-md glyphicon glyphicon-plus" data-toggle="modal" data-target="#add"> Add</button>
     
    <div class="modal" id="add" role="dialog" >
    <div class="modal-dialog">
    

    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close requestclose" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">New sales</h3><br/>
    </div>    
        
    <div class="modal-body">
        <form name="form" novalidate method="post">
        <fieldset>
      
                                                                 
            <button type="button" class="btn btn-default" data-ng-disabled="form.$invalid" >Done</button>
            
            <p>Output Message : {{msg}}</p>
        </fieldset>
        </form>
    </div>
    </div>
    </div>
    </div>     
</div>
</div>
</div>
